<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Random Quote Generator</h1>
        
        <form ng-submit="addQuote()">
            <input type="text" ng-model="newQuote.text" placeholder="Quote text" required>
            <input type="text" ng-model="newQuote.author" placeholder="Author" required>
            <button type="submit">Add Quote</button>
        </form>

        <button ng-click="getRandomQuote()">Generate Random Quote</button>
        <div ng-if="randomQuote">
            <h2>"{{ randomQuote.text }}"</h2>
            <p>- {{ randomQuote.author }}</p>
        </div>

        <h3>All Quotes</h3>
        <ul>
            <li ng-repeat="quote in quotes">
                "{{ quote.text }}" - {{ quote.author }}
                <button ng-click="deleteQuote(quote._id)">Delete</button>
            </li>
        </ul>
    </div>
</body>
</html>